:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --tertiary-color: #272142;
  --default-font-family: "Nunito", sans-serif;
  --heading-font-family: "Playfair Display", serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}

p {
  color: var(--tertiary-color);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  border-radius: 20px;
  max-width: 90%;
  padding: 30px 90px;
}

footer .contact-box h4 {
  font-size: 48px;
  font-weight: bold;
}

footer .contact-box p {
  font-size: 18px;
  opacity: 0.7;
  margin: 0;
}

footer .contact-box a {
  font-size: 18px;
}

footer .email-link a {
  font-size: 24px;
}

footer .email-link a:hover {
  color: var(--branding-color);
}

footer .social-links a {
  background-color: var(--secondary-color);
  border-radius: 50%;
  color: var(--branding-color);
  font-size: 18px;
  margin: 0 20px;
  padding: 10px 14px;
}

footer .social-links a:hover {
  background-color: var(--branding-color);
  color: white;
}

.hero {
  background-color: var(--secondary-color);
  padding: 120px 20px;
  text-align: center;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}

.hero h2 {
  color: var(--tertiary-color);
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
}

.primary-button {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 15px 30px;
}

.primary-button:hover {
  background-color: white;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}

.secondary-button {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 15px 30px;
}

.secondary-button:hover {
  background-color: var(--branding-color);
  color: white;
}

.project-description {
  padding: 120px 60px;
}

.project-description h2 {
  font-size: 64px;
  font-weight: bold;
}

.project-description p {
  color: var(--tertiary-color);
  line-height: 30px;
}

.content-container {
  padding: 80px 20px;
}

.content h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 1.5;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
}

.content p {
  color: var(--tertiary-color);
  line-height: 30px;
  opacity: 0.7;
}

.content {
  margin: 0 30px;
}

.logo {
  max-height: 40px;
}

.nav-item {
  padding: 0 15px;
}

.navbar-nav .nav-link.active {
  color: var(--branding-color);
}

.navbar-nav .nav-link:hover {
  color: var(--branding-color);
}

@media (max-width: 576px) {
  .hero {
    padding: 40px 20px;
  }
  .hero h1 {
    font-size: 44px;
    line-height: 2;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .project-description h2 {
    font-size: 44px;
  }

  .content-container {
    text-align: center;
    padding: 40px 20px 0;
  }

  .content-container h1 {
    font-size: 44px;
  }

  .content-container h2 {
    font-size: 32px;
  }

  .content {
    margin: 0 10px 60px;
  }
}
